<div class="content">
    <div class="col-md-4 offset-md-4 tableBox">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Points</th>
          <th scope="col">Spreadsheet</th>
        </tr>
      </thead>
      <tbody>
        <% @points.each.with_index do |point, index| %>
          <tr>
            <th scope="row"><%= point.date %></th>
            <td><%= point.user.name %></td>
            <td><%= point.points %></td>
            <td><%= point.spreadsheet.name %></td>
          </tr>
        <%end %>

      </tbody>
    </table>
</div>
</div>
