<div class="content">
    <div class="col-md-4 offset-md-4 tableBox">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total Users</th>
          <th scope="col">Total Points</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
        <% @spreadsheets.each.with_index do |spreadsheet, index| %>
          <tr>
            <td><%= spreadsheet.name %></td>
            <td><%= spreadsheet.total_users %></td>
            <td><%= spreadsheet.total_points %></td>
            <td><%= spreadsheet.created_at %></td>
          </tr>
        <%end %>

      </tbody>
    </table>
</div>
</div>
