<div class="content">
    <div class="col-md-4 offset-md-4 tableBox">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Points</th>
          <th scope="col">Name</th>

        </tr>
      </thead>
      <tbody>
        <% @users.each.with_index do |user, index| %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= user.points %></td>
            <td><%= user.name %></td>

          </tr>
        <%end %>
        
      </tbody>
    </table>
</div>
</div>
