@import 'bootstrap';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  background: url('/backcover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font: 100% $font-stack;
  color: black;
}

.tableBox {
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 80px;
  margin-bottom: 20px;
  opacity: 0.7;
  border-radius: 5px;
  background: #fff;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tableBox:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
