<!DOCTYPE html>
<html>
  <head>
    <title>DitoProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Dito Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Users",  '/', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Points",  '/users/points', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Spreadsheets",  '/users/spreadsheets', class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <%= yield %>
  </body>
</html>
